.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.searchBar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.searchBar img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  border: 2px transparent solid;
}
.searchBar img:active {
  background-color: olive;
  border: 2px olive solid;
}
.searchBar input {
  height: 32px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  caret-color: olive;
}

.searchBar input::placeholder {
  color: olive;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
